{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="hero-image">
        <div id="hero-text-box">
            <h1 id="landing-head">Viva Romantica</h1> 
            <h4 id="landing-sub">Take your romance language skills to new heights</h4>
        </div>
        <div id="home-btn">
            <form action="#"> 
                <button id="hero-button" type="submit" class="btn btn-primary btn-lg .btn-block">FIND YOUR COURSE!</button>
            </form>
        </div>
    </div>
{% endblock %}

