{% extends "base.html" %}
{% load static %}
{% block content %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

    <div id="hero-image">
        <div id="hero-text-box">
            <h1 id="landing-head">¡Viva Romantica!</h1> 
            <h4 id="landing-sub">Add a little romance to your life with a new language</h4>
        </div>
        <div id="home-btn">
            <form action="#"> 
                <button id="hero-button" type="submit" class="btn btn-primary btn-lg .btn-block">FIND YOUR COURSE!</button>
            </form>
        </div>
    </div>
{% endblock %}

