{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3">
                <h2 class="course-header"> Shopping Bag </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3">
                <h2 class="course-header"> Please complete the form </h2>
            </div>
        </div>
    </div>

       

{% endblock %}



