html {
    height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar:horizontal {
    display: none;
  }

.text-black {
    color: black;
}

#hero-image {

    background-image:-o-linear-gradient(rgb(7, 7, 7), rgba(80, 80, 80, 0.3)), url("/media/background.png");

    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(7, 7, 7)), to(rgba(80, 08, 80, 0.3))), url("/media/background.png");

    background-image:linear-gradient(rgb(7, 7, 7), rgba(80, 80, 80, 0.3)), url("/media/background.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

/**** navbar ****/
.nav_icons {
    color: black;
}

/**** home page ****/
#hero-text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: black;
    text-transform: uppercase;
    text-align: center;
}

    #landing-head {
        font-family: 'Amatic SC','Lato', 'Times', sans-serif;
        font-size: 4.5rem;
        color: white;
    }
 
    #landing-sub {
        color: white;
        font-family: 'Lato', 'Times';
        font-size: 1rem;
    }
    
    #home-btn {
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center;
    }

/**** courses pages ****/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.card {
    width: 18rem;
    }

.card-img-top {
    height: 12rem;
    }


/**** Media Queries ****/

/** for XL screens**/
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/** fix the navbar to top for md screens and above **/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}
