html {
    height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar:horizontal {
    display: none;
  }

.text-black {
    color: black;
}

#hero-image {

    background-image: url("/media/background.png");

    background-image: url("/media/background.png");

    background-image: url("/media/background.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

/**** navbar ****/

/* styles navbar text*/
.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
    font-family: 'Lato', 'Times';
    text-transform: uppercase;
    font-size: 0.8rem;
}

.navbar {
    background-color: #343a40;
}

#mobile-logo {
    font-family: 'Amatic SC','Lato', 'Times';
}

/**** home page ****/
#hero-text-box {
    position: absolute;
    top: 21%;
    left: 67.5%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: black;
    text-transform: uppercase;
    text-align: center;
}

    #landing-head {
        font-family: 'Amatic SC','Lato', 'Times';
        font-size: 5rem;
        color: white;
    }
 
    #landing-sub {
        color: white;
        font-family: 'Lato', 'Times';
        font-size: 1rem;
    }
    

/**** courses pages ****/

.course-header {
    font-family: 'Amatic SC','Lato', 'Times'; 
    font-size: 4rem;
}

.card {
    width: 18rem;
    }

.card-img-top {
    height: 12rem;
    }


/**** Media Queries ****/

/** from walkthough project: for XL screens**/
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/** from walkthrough project: fix the navbar to top for md screens and above **/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

/** navbar **/
@media only screen and (min-width: 1280px) {
    #mobile-logo {
      display: none;
    }
  }
