{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3">
                <hr class="w-50 mb-2 mt-4">
                <h2 class="course-header">Shopping Bag</h2>
                <hr class="w-50 mb-2 mt-4">
            </div>
        </div>
    </div>

    {% if shopping_bag_items %}  
        <div class="row">
            <div class="col">
                <div class="table-responsive rounded">
                    {{ shopping_bag_items }}
                </div>
            </div>
        </div>
        
    {% else %}
        <div class="row">
            <div class="col text-center mt-5 mb-3">
                <h4 class="lead mb-5">Your bag is empty. Find a course now!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-2 offset-md-1">
                <a href="{% url 'french' %}" class="btn btn-primary btn-lg bag-btn">
                    <span class="icon">
                    </span>
                    <span class="text-uppercase">French</span>
                </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="{% url 'italian' %}" class="btn btn-primary btn-lg bag-btn">
                    <span class="icon">
                    </span>
                    <span class="text-uppercase">Italian</span>
                </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="{% url 'portugese' %}" class="btn btn-primary btn-lg bag-btn">
                    <span class="icon">
                    </span>
                    <span class="text-uppercase">Portugese</span>
                </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="{% url 'romanian' %}" class="btn btn-primary btn-lg bag-btn">
                    <span class="icon">
                    </span>
                    <span class="text-uppercase">Romanian</span>
                </a>
            </div>
            <div class="col col-md-2">
                <a href="{% url 'spanish' %}" class="btn btn-primary btn-lg bag-btn">
                    <span class="icon">
                    </span>
                    <span class="text-uppercase">Spanish</span>
                </a>
            </div>
        </div>
    {% endif %}
       

{% endblock %}

